<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.CommentMapper">
	<!-- 
	C (CREATE (INSERT) 처리) 
	R (READ (SELECT) 처리)
	U (UPDATE 처리)
	D (DELETE 처리)
	 -->
	<select id="getlist" resultType="org.zerock.domain.CommentVO">
	<![CDATA[
		SELECT * FROM tbl_comment WHERE cno > 0
	]]>
	</select>
	
	<insert id="insert">
		INSERT INTO tbl_comment (cno, bno, content, writer) 
		VALUES (seq_comment.nextval, #{bno}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="cno" order="BEFORE" resultType="int">
			SELECT seq_comment.nextval FROM dual
		</selectKey>
		INSERT INTO tbl_comment (cno, bno, content, writer) 
		VALUES (#{cno}, #{bno}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.CommentVO">
		SELECT * FROM tbl_comment WHERE cno = #{cno}
	</select>
	
	<delete id="delete">
		DELETE FROM tbl_comment WHERE cno = #{cno}
	</delete>
	
	<update id="update">
		UPDATE tbl_comment SET 
		bno = #{bno}, 
		content = #{content}, 
		writer = #{writer}, 
		updatedate = SYSDATE 
		WHERE cno = #{cno}
	</update>
	
</mapper>